<%- include ../partials/header.ejs %>

<%- include ../partials/navbar.ejs %>

<!-- Main Content -->
<main class="container py-4 mb-5 text-center">
  <h1 class="title">Business Contact Update</h1>

  <div class="row">
    <div class="col-md-offset-3 col-md-12">
      <form class="row g-3">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" value="<%= contact.name %>>
        </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" value="<%= contact.email %>>
        </div>
        <div class="col-md-6">
          <label for="inputPhone" class="form-label">Phone</label>
          <input type="text" class="form-control" id="inputPhone" value="<%= contact.phone %>>
        </div>
        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" value="<%= contact.address %>">
        </div>
        <div class="col-12">
          <a href="/" class="btn btn-dark">Send</a>
        </div>
      </form>

    </div>
  </div>

</main>

<%- include ../partials/footer.ejs %>